./model-pkg/zumba_churn_pkg-0.0.1-py3-none-any.whl

uvicorn>=0.30.0,<1.0.0
fastapi>=0.114.0,<1.0.0
pydantic>=2.7.0,<3.0.0
pydantic-settings>=2.0.0,<3.0.0

loguru>=0.5.3,<1.0.0
python-multipart>=0.0.5,<0.1.0
typing_extensions>=4.2.0,<5.0.0
pandas
scikit-learn
joblib
xgboost
pyyaml
